<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.javarem.infrastructure.dao.mapper.RaffleActivityAccountMonthCountMapper">

    <resultMap id="BaseResultMap" type="top.javarem.infrastructure.dao.entity.RaffleActivityAccountMonthCount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="activityId" column="activity_id" jdbcType="BIGINT"/>
            <result property="month" column="month" jdbcType="VARCHAR"/>
            <result property="monthCount" column="month_count" jdbcType="INTEGER"/>
            <result property="monthCountSurplus" column="month_count_surplus" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,activity_id,
        month,month_count,month_count_surplus,
        create_time,update_time
    </sql>
</mapper>
