<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javarem.top.infrastructure.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="top.javarem.infrastructure.dao.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="awardId" column="award_id" jdbcType="INTEGER"/>
            <result property="strategyId" column="strategy_id" jdbcType="BIGINT"/>
            <result property="ruleModel" column="rule_model" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,award_id
        ,strategy_id,rule_model
        ,create_time,update_time
    </sql>
</mapper>
